DATABASE_URL=""

BETTER_AUTH_SECRET=""

BETTER_AUTH_URL="" # Base URL of your app

BETTER_AUTH_TRUSTED_ORIGINS="" #only if client from another origin needs to hit the server. 

GOOGLE_CLIENT_ID=""

GOOGLE_CLIENT_SECRET=""

INNGEST_DEV=1

GOOGLE_GENERATIVE_AI_API_KEY=""

SENTRY_AUTH_TOKEN=""

POLAR_ACCESS_TOKEN=""

POLAR_SUCCESS_URL=""

NEXT_PUBLIC_APP_URL="" 

NGROK_URL="" # For tunneling local host using Ngrok. 