DATABASE_URL=""

BETTER_AUTH_SECRET=""

BETTER_AUTH_URL="" # Base URL of your app

GOOGLE_CLIENT_ID=""
 
GOOGLE_CLIENT_SECRET=""

INNGEST_DEV=1

GOOGLE_GENERATIVE_AI_API_KEY=""

SENTRY_AUTH_TOKEN=""

